<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809045701603-urdfs5qbd6oo5q2lfdliqqle8u5c65n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809045701603-urdfs5qbd6oo5q2lfdliqqle8u5c65n1</string>
	<key>API_KEY</key>
	<string>AIzaSyDPfrFCooPx5kOYTYwfCok968zlKRqZAA0</string>
	<key>GCM_SENDER_ID</key>
	<string>809045701603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sira</string>
	<key>PROJECT_ID</key>
	<string>sira-project-7685f</string>
	<key>STORAGE_BUCKET</key>
	<string>sira-project-7685f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809045701603:ios:0831b000e1c1a0d8de66d6</string>
</dict>
</plist>